*{
    margin: 0%;
}

nav{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    background-color: rgba(0, 61, 194, .7);
    position: sticky;
    top: 0px;
}

#nav-content a{
    margin: 0px 10px;
}

#home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#home-section h1{
    margin: 10px;
}

@media (max-width: 600px) {
    nav h1{
        display: none;
    }
    #home-section div img{
        width: 400px;
    }
}